body {
    text-align: center;
    margin: 0;
    background: #bf4d5d;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#calculator {
    max-width: 360px;
    background-color: #a2aed2;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

#display {
    width: 100%;
    height: 56px;
    font-size: 20px;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 5px;
    color: black;
    background-color: rgba(13, 27, 42, 0.3);
    border: none;
    box-sizing: border-box;
}

.operator {
    color: #219ebc;
}

#ac {
    color: #bf4d5d;
}

.equal {
    width: calc(50% - 10px);
}

button {
    width: calc(25% - 10px);
    height: 50px;
    font-size: 20px;
    margin: 10px 5px;
    border: none;
    border-radius: 5px;
    float: left;
    background-color: rgb(13, 27, 42);
    color: #e0e1dd;
    -webkit-box-shadow: -1px 1px 30px -5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: -1px 1px 30px -5px rgba(0, 0, 0, 0.2);
    box-shadow: -1px 1px 30px -5px rgba(0, 0, 0, 0.2);
}

button:hover {
    cursor: pointer;
}

button:active {
    transform: scale(1.05);
    box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.19),
        0 1.5px 1.5px rgba(0, 0, 0, 0.23);
}

footer {
    position: absolute;
    bottom: 60px;
    font-size: 18px;
    color: #0d1b2a;
}

footer a {
    color: #0d1b2a;
    text-decoration: none;
    font-weight: 600;
}

footer a:hover {
    text-decoration: underline;
}